<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>About Us</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<link href="assets/css/style.css" rel="stylesheet">
<link href="/images/header.jpeg" rel="icon">
<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet">

<link href="assets/vendor/aos/aos.css" rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<link href="assets/vendor/boxicons/css/boxicons.min.css"
	rel="stylesheet">
<link href="assets/vendor/glightbox/css/glightbox.min.css"
	rel="stylesheet">
<link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
<style type="text/css">
.incsize {
	font-size: 1.12em;
}
</style>
<script data-ad-client="ca-pub-1746371154114248" async
	src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body class="bg-color">
	<div lang="en" th:insert="header :: header"></div>
	<section id="hero" class="d-flex align-items-center">
		<div class="container">
			<div class="row">
				<div
					class="col-lg-12 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
					data-aos="fade-up" data-aos-delay="200">
					<img src="assets/img/CammyBean.jpg" class="img-fluid animated"
						alt="" style="border-radius: 35px;">
				</div>
			</div>
		</div>
	</section>

	<section id="about" class="about">
		<div class="container" data-aos="fade-up">

			<div class="section-title">
				<h2>Idea Behind E-Tech</h2>
			</div>

			<div class="row content">
				<div class="col-lg-3">
					<img src="/images/bulb.jpg" class="img-fluid animated" alt=""
						style="border-radius: 35px;">
				</div>
				<div class="col-lg-8">
					<p class="incsize">
						<strong>People all over the world have been impacted by
							the Coronavirus pandemic. One of the biggest shift COVID-19 has
							created have been an increase in the need for virtual learning
							and skill development solutions. It has replaced traditional
							classrooms to virtual classrooms. Online learning is the future
							of education, and it is happening right now all around us.
							E-Learning, mobile learning, distance education; all of these
							technologies are providing access to information and skills that
							were previously available only to a select few. Through online
							student gets vast and variety of content for each and every
							course but it is scattered and not approachable as one’s
							requirement. So there felt a need to generate a platform that can
							arrange quality content in a systematic way that is easily
							approachable to every learner according to their learning style
							and pace in an economical way as “The students of the future will
							demand the learning support that is appropriate for their
							situation or context. Nothing more, nothing less. And they want
							it at the moment the need arises.”</strong>
					</p>
				</div>
			</div>
		</div>
	</section>
	<div class="container" data-aos="fade-up">
		<div class="row content">
			<div class="col-lg-3"></div>
			<div class="col-lg-7">
				<img src="/images/quote-2.jpeg" width="1000" height="100"
					style="border-radius: 50px;" class="img-fluid animated">
			</div>
			<div class="col-lg-2"></div>
		</div>
	</div>

	<main id="main">
		<section id="about" class="about">
			<div class="container" data-aos="fade-up">

				<div class="section-title">
					<h2>Our Vision</h2>
				</div>

				<div class="row content">
					<div class="col-lg-3">
						<img src="/images/vision.jpg" class="img-fluid animated" alt=""
							style="border-radius: 35px;">
					</div>
					<div class="col-lg-9">
						<p class="incsize">
							<strong>Engaging the learners with instructional digital
								platform and to empower through skill development in an
								economical way by utilizing efficient and emerging technologies
								of teaching and learning.</strong>
						</p>
					</div>
				</div>
			</div>
		</section>
		<section id="about" class="about">
			<div class="container" data-aos="fade-up">
				<div class="section-title">
					<h2>Our Mission</h2>
				</div>

				<div class="row content">
					<div class="col-lg-3">
						<img src="/images/missions.jpg" class="img-fluid animated" alt=""
							style="border-radius: 35px;">
					</div>
					<div class="col-lg-9">
						<p class="incsize">
							<strong>To enrich learning through modern technology
								with the blend of high quality educational resources. Preparing
								learners to outshine in society and industry by a system that
								facilitates in selecting right path to attain better
								understanding.</strong>
						</p>
					</div>

				</div>

			</div>
		</section>
	</main>

	<div lang="en" th:insert="footer :: footer"></div>
	<script src="assets/vendor/aos/aos.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
	<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
	<script src="assets/vendor/php-email-form/validate.js"></script>
	<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
	<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>

	<script src="assets/js/main.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/ulg/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>