<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h3>Course Content</h3>
	<li class='active'><a href='#submenu+Simple Stresses and Strain'
		data-toggle='collapse' aria-expanded='false' class='dropdown-toggle'>
			Simple Stresses and Strain</a>
	<ul>
			<ul class='collapse list-unstyled'
				id='submenu+Simple Stresses and Strain'>
				<li><a><div class='bs-example'>
							<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
									formula</u></a></a></li>
				<div id='myModal' class='modal fade'>
					<div class='modal-dialog'>
						<div class='modal-content' style='width: fit-content;'>
							<div class='modal-header'>
								<button type='button' class='close' data-dismiss='modal'
									aria-hidden='true'>×</button>
								<h4 class='modal-title'>YouTube Video</h4>
							</div>
							<div class='modal-body'>
								<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
									width='560' height='315'
									src='https://www.youtube.com/embed/?start=0&end=0'
									frameborder='0' allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
				</div>
			</ul></li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li class='active'><a href='#submenu+Compound stresses'
		data-toggle='collapse' aria-expanded='false' class='dropdown-toggle'>
			Compound stresses</a>
	<ul>
			<ul class='collapse list-unstyled' id='submenu+Compound stresses'>
				<li><a><div class='bs-example'>
							<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
									formula</u></a></a></li>
				<div id='myModal' class='modal fade'>
					<div class='modal-dialog'>
						<div class='modal-content' style='width: fit-content;'>
							<div class='modal-header'>
								<button type='button' class='close' data-dismiss='modal'
									aria-hidden='true'>×</button>
								<h4 class='modal-title'>YouTube Video</h4>
							</div>
							<div class='modal-body'>
								<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
									width='560' height='315'
									src='https://www.youtube.com/embed/?start=0&end=0'
									frameborder='0' allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
				</div>
			</ul></li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li class='active'><a href='#submenu+ Thin & Thick Cylinders'
		data-toggle='collapse' aria-expanded='false' class='dropdown-toggle'>
			Thin & Thick Cylinders</a>
	<ul>
			<ul class='collapse list-unstyled'
				id='submenu+ Thin & Thick Cylinders'>
				<li><a><div class='bs-example'>
							<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
									formula</u></a></a></li>
				<div id='myModal' class='modal fade'>
					<div class='modal-dialog'>
						<div class='modal-content' style='width: fit-content;'>
							<div class='modal-header'>
								<button type='button' class='close' data-dismiss='modal'
									aria-hidden='true'>×</button>
								<h4 class='modal-title'>YouTube Video</h4>
							</div>
							<div class='modal-body'>
								<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
									width='560' height='315'
									src='https://www.youtube.com/embed/?start=0&end=0'
									frameborder='0' allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
				</div>
			</ul></li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li class='active'><a
		href='#submenu+Bending moment and shear force in beams'
		data-toggle='collapse' aria-expanded='false' class='dropdown-toggle'>
			Bending moment and shear force in beams</a>
	<ul>
			<ul class='collapse list-unstyled'
				id='submenu+Bending moment and shear force in beams'>
				<li><a><div class='bs-example'>
							<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
									formula</u></a></a></li>
				<div id='myModal' class='modal fade'>
					<div class='modal-dialog'>
						<div class='modal-content' style='width: fit-content;'>
							<div class='modal-header'>
								<button type='button' class='close' data-dismiss='modal'
									aria-hidden='true'>×</button>
								<h4 class='modal-title'>YouTube Video</h4>
							</div>
							<div class='modal-body'>
								<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
									width='560' height='315'
									src='https://www.youtube.com/embed/?start=0&end=0'
									frameborder='0' allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
				</div>
			</ul></li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li class='active'><a
		href='#submenu+Bending and Shear stresses in Beams'
		data-toggle='collapse' aria-expanded='false' class='dropdown-toggle'>
			Bending and Shear stresses in Beams</a>
	<ul>
			<ul class='collapse list-unstyled'
				id='submenu+Bending and Shear stresses in Beams'>
				<li><a><div class='bs-example'>
							<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
									formula</u></a></a></li>
				<div id='myModal' class='modal fade'>
					<div class='modal-dialog'>
						<div class='modal-content' style='width: fit-content;'>
							<div class='modal-header'>
								<button type='button' class='close' data-dismiss='modal'
									aria-hidden='true'>×</button>
								<h4 class='modal-title'>YouTube Video</h4>
							</div>
							<div class='modal-body'>
								<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
									width='560' height='315'
									src='https://www.youtube.com/embed/?start=0&end=0'
									frameborder='0' allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
				</div>
			</ul></li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li class='active'><a href='#submenu+Deflection of beams'
		data-toggle='collapse' aria-expanded='false' class='dropdown-toggle'>
			Deflection of beams</a>
	<ul>
			<ul class='collapse list-unstyled' id='submenu+Deflection of beams'>
				<li><a><div class='bs-example'>
							<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
									formula</u></a></a></li>
				<div id='myModal' class='modal fade'>
					<div class='modal-dialog'>
						<div class='modal-content' style='width: fit-content;'>
							<div class='modal-header'>
								<button type='button' class='close' data-dismiss='modal'
									aria-hidden='true'>×</button>
								<h4 class='modal-title'>YouTube Video</h4>
							</div>
							<div class='modal-body'>
								<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
									width='560' height='315'
									src='https://www.youtube.com/embed/?start=0&end=0'
									frameborder='0' allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
				</div>
			</ul></li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li class='active'><a href='#submenu+Columns and Struts'
		data-toggle='collapse' aria-expanded='false' class='dropdown-toggle'>
			Columns and Struts</a>
	<ul>
			<ul class='collapse list-unstyled' id='submenu+Columns and Struts'>
				<li><a><div class='bs-example'>
							<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
									formula</u></a></a></li>
				<div id='myModal' class='modal fade'>
					<div class='modal-dialog'>
						<div class='modal-content' style='width: fit-content;'>
							<div class='modal-header'>
								<button type='button' class='close' data-dismiss='modal'
									aria-hidden='true'>×</button>
								<h4 class='modal-title'>YouTube Video</h4>
							</div>
							<div class='modal-body'>
								<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
									width='560' height='315'
									src='https://www.youtube.com/embed/?start=0&end=0'
									frameborder='0' allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
				</div>
			</ul></li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
	<li><a><div class='bs-example'>
				<a href='#myModal' class='noBackground' data-toggle='modal'><u>Rankine’s
						formula</u></a></a></li>
	<div id='myModal' class='modal fade'>
		<div class='modal-dialog'>
			<div class='modal-content' style='width: fit-content;'>
				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal'
						aria-hidden='true'>×</button>
					<h4 class='modal-title'>YouTube Video</h4>
				</div>
				<div class='modal-body'>
					<iframe id='cartoonVideo' allow='autoplay ; encrypted-media'
						width='560' height='315'
						src='https://www.youtube.com/embed/?start=0&end=0' frameborder='0'
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	</div>
	</ul>
	</li>
</body>
</html>