<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
	<div th:fragment="footer" class="footer">
		<footer id="footer">

			<div class="footer-top">
				<div class="container">
					<div class="row">

						<div class="col-lg-3 col-md-6 footer-links" style="color: black;">
							<h3 style="color: black;">Find us here</h3>
							<p style="color: black;">E-Tech platform for e-learning</p>
							<ul>
								<li><i class="bi bi-envelope" style="color: deepskyblue;"></i>&nbsp;&nbsp;
									etechplatform4u@gmail.com</li>
								<li><i class="bi bi-telephone-fill"
									style="color: deepskyblue"></i>&nbsp;&nbsp; +91-8970253213<br>
									&nbsp;&nbsp;&nbsp;+91-9780785238</li>
							</ul>
						</div>

						<div class="col-lg-3 col-md-6 footer-links">
							<h3 style="color: black;">Company</h3>
							<ul>
								<li><i class="bx bx-chevron-right"></i> <a href="/aboutUs">About
										us</a></li>
								<li><i class="bx bx-chevron-right"></i> <a>Contact us</a></li>
								<li><i class="bx bx-chevron-right"></i> <a
									href="https://docs.google.com/forms/d/e/1FAIpQLSc_g-PwH-syhQdpMFcQppKRedzXTKkb9vjPlisqBs9BNdakWw/viewform?usp=sf_link"
									target="_blank">Feedback</a></li>
								<li><i class="bx bx-chevron-right"></i> <a>Advertise
										with us</a></li>
							</ul>
						</div>

						<div class="col-lg-3 col-md-6 footer-links">
							<h3 style="color: black;">Products</h3>
							<ul>
								<li><i class="bx bx-chevron-right"></i> <a
									href="/lectureNotes">Lecture Notes</a></li>
								<li><i class="bx bx-chevron-right"></i> <a>Lecture
										Videos</a></li>
								<li><i class="bx bx-chevron-right"></i> <a
									href="/questBank">Question bank</a></li>
								<li><i class="bx bx-chevron-right"></i> <a
									href="/internship">Internship</a></li>

							</ul>
						</div>

						<div class="col-lg-3 col-md-6 footer-links">
							<h3 style="color: black;">Our Social Networks</h3>

							<div class="social-links mt-3">
								<a class="twitter"><i class="bx bxl-twitter"></i></a> <a
									href="https://www.facebook.com/Etech-platform-105152058422756/"
									target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
								<a class="instagram"><i class="bx bxl-instagram"></i></a> <a
									class="google-plus"><i class="bx bxl-skype"></i></a> <a
									class="linkedin"><i class="bx bxl-linkedin"></i></a>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="container footer-bottom clearfix">
				<div class="copyright">
					&copy; Copyright&nbsp;
					<script>
						document.write(new Date().getFullYear())
					</script>
					<strong><span>Etech4u</span></strong>. All Rights Reserved
				</div>
				<div class="credits">
				</div>
			</div>
		</footer>

		<div id="preloader"></div>
		<a href="#"
			class="back-to-top d-flex align-items-center justify-content-center"><i
			class="bi bi-arrow-up-short"></i></a>
	</div>

</body>
</html>