<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml"
	id="header" class="fixed-top ">
	<div
		class="navbar navbar-expand-md navbar-light bg-color container-fluid"
		style="background-color: #ffa500;">

		<!--       <h1 class="logo me-auto"><a href="index.html">Arsha</a></h1> -->
		<a class="" href="/home" style=""><img src="/images/header.jpeg" alt=""
			class="rounded float-left" width="315" style="margin-left: -25px"></a>
		<!--       Uncomment below if you prefer to use an image logo -->

		<nav id="navbar" class="navbar" style="background-color: #ffa500;">
			<ul>
				<li><a class="nav-link scrollto active border-primary"
					href="/lectureNotes">Lecture Notes</a></li>
				<!--           <li><a class="nav-link scrollto" href="#about">About</a></li> -->
				<!--           <li><a class="nav-link scrollto" href="#services">Services</a></li> -->
				<!--           <li><a class="nav-link   scrollto" href="#portfolio">Portfolio</a></li> -->
				<!--           <li><a class="nav-link scrollto" href="#team">Team</a></li> -->
				<li class="dropdown"><a href="#"><span>Lecture
							Videos</span> <i class="bi bi-chevron-down"></i></a>
					<ul>
						<!-- <li><a href="#">Drop Down 1</a></li>
              
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li> -->
						<li><a class="dropdown-item" href="/firstYear"
							th:href="@{/firstYear}">First Year</a> <a class="dropdown-item"
							href="@{/mathematics}" th:href="@{/mathematics}">Mathematics</a><a
							class="dropdown-item" href="/civilEngineering"
							th:href="@{/civilEngineering}">Civil Engineering</a></li>


					</ul></li>
				<!-- <li class="nav-item active border-primary"><a class="nav-link"
					href="/smartPresentation" th:href="@{/smartPresentation}">Smart
						Presentation </a></li> -->
				<li class="nav-item active border-primary"><a class="nav-link"
					href="/questBank" th:href="@{/questBank}">Question Bank </a></li>
				<li class="nav-item active border-primary"><a class="nav-link"
					href="/internship" th:href="@{/internship}">Internship </a></li>
				<li class="nav-item border-primary"><a class="nav-link"
					href="/aboutUs" th:href="@{/aboutUs}">About Us </a></li>
				<!--           <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->
				<!--           <li><a class="getstarted scrollto" href="#about">Get Started</a></li> -->
			</ul>
			<i class="bi bi-list mobile-nav-toggle"></i>
		</nav>

	</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XD6PJ0JQXR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XD6PJ0JQXR');
</script>
</header>

